.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error-message {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid var(--error-color);
  border-radius: var(--border-radius);
  color: var(--error-color);
  background-color: var(--error-lining-color);
  font-weight: 600;
}
