.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  text-transform: uppercase;
}

.button.primary {
  background: var(--primary-color);
  color: var(--text-secondary);
}

.button.primary:hover {
  background: var(--primary-hover);
}

.button.secondary {
  background: var(--secondary-color);
  color: var(--text-secondary);
}

.button.secondary:hover {
  background: var(--secondary-hover);
}

.button:disabled {
  background: var(--disabled-color);
  color: var(--border-color);
  cursor: default;
}
.button:disabled:hover {
  background: var(--disabled-color);
  color: var(--border-color);
}
